.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    color: $mainColor;
    border-radius: 5px;
    text-transform: capitalize;
    padding: 5px;
    font-size: 1.2rem;

    & span {
        margin: 0 auto;
        padding: 0 5px;
    }

    &__facebook {
        background-color: #4a6ea9;
        transition: filter 0.2s;
    }

    &__google {
        background-color: #dd4b39;
    }

    &__line {
        display: inline;
        height: 30px;
        border-left: 1px solid $darkGreyColor;
    }

    &__submit {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 10px;
        width: 100%;
    }
}

.alternative-sing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;

    & img {
        width: 30px;
    }
}

.or {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    color: $greyColor;

    & span {
        padding: 0 20px;
    }

    &::after {
        content: "";
        border-bottom: 1px solid $greyColor;
        transform: translate(0%, -45%);
        width: 100%;
    }

    &::before {
        content: "";
        border-bottom: 1px solid $greyColor;
        transform: translate(0%, -45%);
        width: 100%;
    }
}

.button__facebook:hover,
.button__google:hover {
    filter: brightness(0.9);
}
