.header {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    background-color: rgb(0, 0, 0, 0.5);

    &__container {
        margin: 0 auto;
        width: 80%;
        min-height: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        @media (min-width: 1376px) {
            max-width: 70%;
        }
    }

    &__logo {
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $mainColor;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            color: $secondFocusColor;
        }
    }

    &__icons {
        margin-left: auto;
    }

    &__line {
        display: inline;
        height: 20px;
        border-left: 1px solid;
        color: $greyColor;
    }

    &__exit {
        display: flex;
        flex-direction: row;
        color: $mainColor;
    }
}

.log,
.sing,
.terms {
    display: inline-block;
    position: relative;
    color: $secondColor;
    transition: all 0.2s;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $secondFocusColor;
        transform-origin: bottom right;
        transition: transform 0.2s;
    }

    &:hover {
        color: $secondFocusColor;

        &::after {
            color: $secondFocusColor;
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    & span {
        color: $mainColor;
    }
}

.icon {
    display: inline-block;
    margin-left: 30px;
    background: url("../img/css_sprites.png") no-repeat;
    cursor: pointer;
    transition: all 0.2s;

    &__calendar {
        height: 96px;
        width: 96px;
        background-position: -126px -10px;
        zoom: 0.2;

        &:hover {
            background-position: -126px -126px;
        }
    }
    &__chat {
        width: 64px;
        height: 64px;
        background-position: -242px -4px;
        zoom: 0.4;

        &:hover {
            background-position: -242px -87px;
        }
    }
    &__compass {
        width: 96px;
        height: 96px;
        background-position: -10px -10px;
        zoom: 0.22;

        &:hover {
            background-position: -10px -126px;
        }
    }
}

// .bg-compass_white {
//     width: 96px; height: 96px;
//     background: url('css_sprites.png') -10px -10px;
// }

// .bg-chating_white {
//     width: 64px; height: 64px;
//     background: url('css_sprites.png') -242px -10px;
// }

// .bg-calendar_white {
//     width: 96px; height: 96px;
//     background: url('css_sprites.png') -126px -10px;
// }

// .bg-compass_green {
//     width: 96px; height: 96px;
//     background: url('css_sprites.png') -10px -126px;
// }

// .bg-chating_green {
//     width: 64px; height: 64px;
//     background: url('css_sprites.png') -242px -94px;
// }

// .bg-calendar_green {
//     width: 96px; height: 96px;
//     background: url('css_sprites.png') -126px -126px;
// }
